
    body {
        background: linear-gradient(90deg, rgb(36, 35, 0) 0%, rgb(9, 121, 37) 35%, rgb(255, 123, 0) 100%);

    }
    .error{
        color:red;
    }

    .form-group {
        border: 1px solid blue;
        font-weight:900;
        font-size:20px;
    }
   h1{
        font-weight:900;
        color:rgb(199, 12, 199);
    }
  